.container {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Kart Stili */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px;
    margin: 0 5%;
    background-color: rgba(0,0,0,0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    color: #ffffff;
}

.card p {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
}

.card:hover {
    transform: translateY(-7px);
    box-shadow: 0 0px 20px dodgerblue;
}

/* Buton Stili */
.content-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 40px;
    border-radius: 8px;
    border: 1px solid white;
    transition: all .5s ease-in-out;
    display: inline-block;
    text-transform: uppercase;
    background-color: transparent;

}

.content-button:hover {
    background-color:dodgerblue ;
    color: black;
    transform: scale(1.1);
    
}

/* Başlık Stili */
.content-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 10px white;
    width: 100%;

   
}

/* Görsel Stili */
.content-img {
    width: 100%;
    max-height: 150px;
    border-radius: 12px;
    margin-bottom: 15px;
    object-fit:cover;
    background-color: transparent;
}


.img-container{
    width: 100%;
    position: relative;
}

.card-img-txt{
    position: absolute; /* Yazıyı resim üzerine göre konumlandırır */
    top: 50%; /* Dikeyde ortalar */
    left: 50%; /* Yatayda ortalar */
    transform: translate(-50%, -50%); /* Yazıyı tam merkeze hizalar */
    color: white; /* Yazı rengi */
    text-shadow: 0px 0px 10px white;
    font-size: 24px; /* Yazı boyutu */
    font-weight: bold; /* Yazı kalınlığı */
    text-align: center; /* Metni yatayda ortalar */
}
