/* Genel Container */
.login-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    
}

.login-header{
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Form Stili */
.login-form {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

/* Label Stili */
.login-form label {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
}

/* Input Stili */
.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 14px;
    background: rgba(235, 234, 234, 0.5);
    color: black;
    transition: all 0.3s ease-in-out;
}

.login-form input:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

/* Login Butonu */
.login-form button {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: dodgerblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

.login-form button:hover {
    background: #005bb5;
    transform: scale(1.05);
}

/* Alt Metin */
.login-form span {
    font-size: 14px;
    color: white;
    margin-top: 15px;
}

/* Kayıt Ol Butonu */
.login-form span button {
    background: none;
    border: none;
    color: deeppink;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
    margin-left: 10px;
}


.login-form span button:hover {
    color: #ffaa00;
    background-color:rgba(255, 255, 255, 0.1);
}

/* Responsive Tasarım */
@media (max-width: 480px) {
    .login-form {
        width: 90%;
    }
}
