/* TrainModel.css */

:root {
  --primary-color: #3498db;
  --secondary-color: #e74c3c;
  --background-color: #f4f4f4;
  --text-color: #333;
  --light-text-color: #555;
  --error-text-color: #e74c3c;
}

.train-model-container {
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.tm-container {
  display: flex;
  flex-direction: row;
  min-height: 500px;
}

.train-model-container h2 {
  color: aquamarine;
  margin-bottom: 20px;
  text-align: center;
}

.train-model-container h3 {
  color: white;
  margin-top: 30px;
}

.train-model-container pre {
  background-color: var(--background-color);
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.train-model-container hr{
  width: 100%;
  border-color: white;
}

.chart-container,
.chart-container-2 {
  width: 100%;
  margin: 20px; /* Boşluk */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-content {
  text-align: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  color: var(--error-text-color);
  text-align: center;
  margin-top: 20px;
}

.loader-content p {
  color: cyan;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 10px white;
}

.test-score-bar-container {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.test-score-bar {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white; /* Metin rengi her zaman beyaz olacak */
  border-radius: 5px;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.test_title{
  color: white
}

.log_download_button_container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.log_download_button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.log_download_button:hover {
  background-color: #0056b3;
}

/* Diğer stilleriniz... */